<!DOCTYPE html>
<main class="hero__container">
  <h1 class="hero glitch layers" data-text="HELP_ WORLD">
    <span class="intro">HELLO WORLD</span>
  </h1>
  <div class="start__container">
    <div class="custom_select">
      <select class="start__level" id="levelsPick" name="favColor">
        <option value="">levels</option>
        <option value="noob 1">Silly</option>
        <option value="noob 2">Noob</option>
        <option value="noob 3">Paul Green</option>
        <option value="cool 1">Zenitsu Agatsuma</option>
        <option value="cool 2">Tanjiro Kamado</option>
        <option value="cool 3">Naruto</option>
        <option value="thugLife 1">Super Saiyan</option>
        <option value="thugLife 2">Saitama</option>
        <option value="thugLife 3">Lewis Campbell</option>
      </select>
    </div>
    <div class="start__btn">
      <a href="/game" class="glitchy" onclick="route()">start</a>
    </div>
  </div>
  <div class="message">
    <p class="message_body"></p>
    <div class="close_btn"></div>
  </div>
</main>
