<!DOCTYPE html>
<main class="hero__container">
  <h1 class="hero glitch layers" data-text="HELP_ WORLD">
    <span class="intro">HELLO WORLD</span>
  </h1>
  <div class="start__container">
    <div class="custom_select">
      <select class="start__level" id="levelsPick">
        <option value="">levels</option>
        <option value="Level 1">Level 1</option>
        <option value="Level 2">Level 2</option>
        <option value="Level 3">Level 3</option>
        <option value="Level 4">Level 4</option>
        <option value="Level 5">Level 5</option>
        <option value="Level 6">Level 6</option>
        <option value="Level 7">Level 7</option>
        <option value="Level 8">Level 8</option>
        <option value="Level 9">Level 9</option>
      </select>
    </div>
    <div class="start__btn">
      <a href="/game" class="glitchy" onclick="route()">start</a>
    </div>
  </div>
  <div class="message">
    <p class="message_body"></p>
    <div class="close_btn"></div>
  </div>
  <div class="social">
    <a
      class="social__linkedIn"
      target="_blank"
      href="https://www.linkedin.com/in/omar-alsyouf/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 24 24"
        data-supported-dps="24x24"
        fill="currentColor"
        class="mercado-match"
        width="24"
        height="24"
        focusable="false"
      >
        <path
          d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
        ></path></svg
    ></a>
    <a target="_blank" href="https://alsyoufomar.github.io/portfolio/"
      >By Omar Alsyouf</a
    >
  </div>
</main>
